@font-face {
    font-family: 'Share Tech Mono';
    src: url('./static/font.woff');
}

body {
    background-color: #191919;
    margin: 0px 100px 0px 100px;
    font-family: 'Share Tech Mono', Monospace, Courier;
}

.banner {
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00214A;
}


.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

.content {
    border-style: solid;
    width: 100%;
    border-width: 1px;
    margin-top: 5px;
    padding: 0px 10px 10px 10px;
    background-color: #00214A;
    color: #FFFFFF;
}

.rt {
    margin-right: 5px;
}

.lt {
    margin-left: 5px;
}

.content h3 { 
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    border-bottom: 1px dashed;
}


ul {
    list-style-type: square;
}

#footer {
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00214A;
}

a {
    display: inline-block;
    color: #99B0ED;
    margin: 0px 20px 0px 20px;
}
