@font-face {
    font-family: 'Share Tech Mono';
    src: url('../static/font.woff');
}

body {
    background-color: #191919;
    margin: 0px 100px 0px 100px;
    font-family: 'Share Tech Mono', Monospace, Courier;
}


.banner {
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #00214A;
}

.post {
    border-style: solid;
    border-width: 1px;
    background-color: #00214A;
    margin-top: 5px;
    padding: 20px 25px 20px 25px;
    color: #ffffff;
}

p { 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 
#footer {
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: #ffffff;
    background-color: #00214A;
}

a {
    color: #ffffff; 
}
